.main {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.main::-webkit-scrollbar {
  background-color: #0f0c29;
  width: 8px;
}

.main::-webkit-scrollbar-track {
  background-color: #000000;
  width: 15px;
}

.main::-webkit-scrollbar-thumb {
  background-color: #434343;
  border-radius: 7px;
}