.main {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.main::-webkit-scrollbar {
  background-color: #0f0c29;
  width: 6px;
}

.main::-webkit-scrollbar-track {
  background-color: #302b63;
}

.main::-webkit-scrollbar-thumb {
  background-color: rgb(135, 115, 187);
  border-radius: 5px;
}