.navbar {
    scroll-snap-align: start;
    min-height: 100vh;
    max-width: 1440px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    padding: 5em;
}

.ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 5em;
    padding-left: 0;
    padding-top: 1em;
}

.brandName {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2em;
}

.listItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    gap: 1em;
}

.profilePic {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 2px solid rgb(135, 115, 187);
    background-image: url(../public/profilePic.png);
    background-size: contain;
    display: block;
    position: relative;
}

.profilePic::after {
    position: absolute;
    content: "";
    inset: 0;
    opacity: 0;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
}

.profilePic:hover::after {
    opacity: 1;
    background: url("../public/content.png");
    background-size: contain;
    cursor: pointer;
}


.description {
    color: rgba(255, 255, 255, 0.7);
    font-family: "Jura";
    font-weight: 700;
}

.description span {
    color: rgb(21, 121, 139);
}

.intro {
    padding: 3em;
    padding-top: 2em;
    padding-bottom: 2em;
    border: 2px solid rgba(255, 255, 255, 0.09);
    border-radius: 1.5em;
    background-color: rgba(255, 255, 255, 0.09);
    backdrop-filter: blur(150px);
}

.intro h1 {
    font-size: 2.5rem;
    color: rgb(135, 115, 187);
    font-family: "Jura";
    font-weight: 700;
    position: relative;
    opacity: 1;
}


.intro p {
    color: rgba(255, 255, 255, 0.7);
    font-family: "Raleway";
    font-size: 15px;
    line-height: 1.5rem;
}

.linkContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkContainer button {
    display: block;
    padding: 1em;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px 3px #302b63;
    border-radius: 25px;
    animation: jump 2s linear infinite;
}

.linkContainer button a {
    font-family: "Raleway";
    letter-spacing: 0.05em;
    font-weight: 700;
    color: rgb(135, 115, 187);
    background-color: rgba(255, 255, 255, 0.7);
}

.linkContainer button:hover {
    cursor: pointer;
    background-color: rgb(135, 115, 187);
}

.linkContainer button:hover a {
    background-color: rgb(135, 115, 187);
    color: rgba(255, 255, 255, 0.7);
}

@keyframes jump {
    0% {
        transform: translateY(0px);
    }

    15% {
        transform: translateY(5px);
    }

    35% {
        transform: translateY(0px);
    }

    65% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}

.navigationLinks {
    position: fixed;
    left: 0;
    width: 15%;
    min-height: 100vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    justify-content: center;
    clip-path: circle(50% at -50% 50%);
    background-color: rgb(135, 115, 187);
}

.navigationLinks ul {
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    width: 150%;
    height: 150%;
    left: -1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    background-color: rgb(21, 121, 139);
    clip-path: circle(0.0% at 0 50%);
    transition: all 1s ease-in;
}

.burger {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    padding: 1em;
    background: linear-gradient(to right, #24243e, #0f0c29);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    transition: all 0.5s ease-in-out;
}

/* .containerExpansion {
    clip-path: circle(50% at -50% 50%);
} */

.burger .burgerLayer {
    height: 0.2em;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    transition: all 1s ease-in-out;
}


.containerList li {
    font-family: "Jura";
}