.navbar {
    min-height: 100vh;
    max-width: 1440px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: var(--color-5);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, var(--color-1), var(--color-5));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, var(--color-1), var(--color-5));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 5em;
    padding-top: 0em;
    padding-left: 10em;
    z-index: 50;
    isolation: isolate;
}

.ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: 0;
}

.img {
    width: 10em;
    height: 7em;
}

.brandName {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2em;
    isolation: isolate;
}


.profilePic {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: 2px solid var(--color-2);
    background-image: url(../public/profilePic.png);
    background-size: contain;
    position: relative;
}

.profilePic::after {
    position: absolute;
    content: "";
    inset: -10%;
    border-radius: 50%;
    background: linear-gradient(to right, var(--color-4), var(--color-1));
    z-index: -1;
    filter: drop-shadow(5px 5px 25px var(--color-2));
}

.profilePic:hover::after {
    opacity: 1;
    cursor: pointer;
}


.description {
    color: #CDC392;
    font-family: "Jura";
    font-weight: 700;
    width: 75ch;
    padding-left: 3em;
}

.description span {
    color: var(--color-3);
}

.secondList {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 3em;
}

.intro {
    padding-top: 0.5em;
    padding-bottom: 0em;
    padding-left: 3em;
    border-radius: 1.5em;
    border-top-left-radius: 0em;
    max-width: 75ch;
}

.intro h1 {
    font-size: 2.7rem;
    color: var(--color-2);
    font-family: "Jura";
    font-weight: 700;
    position: relative;
    opacity: 1;
}



.intro p {
    color: var(--color-3);
    font-family: "Raleway";
    font-size: 16px;
    line-height: 1.5rem;
}

.intro p span {
    font-weight: 700;
    color: var(--color-2);
}

.linkContainer {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding-left: 5em;
}

.linkContainer button {
    display: block;
    padding: 1em;
    border: none;
    outline: none;
    box-shadow: 0px 0px 15px 3px var(--color-1);
    border-radius: 25px;
    background-color: var(--color-2);
    animation: jump 2s linear infinite;
}

.linkContainer button a {
    font-family: "Raleway";
    letter-spacing: 0.05em;
    font-weight: 700;
    color: var(--color-1);
    background-color: var(--color-2);
}

.linkContainer button:hover {
    cursor: pointer;
    background-color: var(--color-1);
    box-shadow: 0px 0px 15px 5px var(--color-2);
}

.linkContainer button:hover a {
    background-color: var(--color-1);
    color: var(--color-2);
}

@keyframes jump {
    0% {
        transform: translateY(0px);
    }

    15% {
        transform: translateY(5px);
    }

    35% {
        transform: translateY(0px);
    }

    65% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}

.navigationLinks {
    position: fixed;
    top: 0;
    left: 0;
    width: 15em;
    min-height: 100vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    clip-path: polygon(0% 0%, 50% 0%, 100% 50%, 50% 100%, 0% 100%);
    background: var(--color-1);
    z-index: 99;
    padding-left: 3em;
}

.navigationLinks ul {
    position: absolute;
    left: 0;
    top: -1em;
    height: 100%;
    width: 100%;
    color: var(--color-5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    transform: translateX(-100%);
    clip-path: polygon(0% 0%, 50% 0%, 100% 50%, 50% 100%, 0% 100%);
    background-color: var(--color-2);
    transition: all 1s ease-in;
}

.burger {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    padding: 1em;
    background: linear-gradient(to right, var(--color-1), var(--color-5));
    border: 3px solid var(--color-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    transition: all 0.5s ease-in-out;
}

.burger:hover {
    cursor: pointer;
}


.burger .burgerLayer {
    height: 0.2em;
    width: 100%;
    background-color: var(--color-2);
    border-radius: 3px;
    transition: all 1s ease-in-out;
}


.containerList li {
    font-family: "Jura";
}

.tilt {
    position: absolute;
    top: 0%;
    right: 0%;
    height: 100%;
    width: 50%;
    z-index: -1;
}

.landingImage {
    height: 100%;
    width: 100%;
    background-image: url(../public/landingPageImage.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    filter: grayscale(50%);
}

@media screen and (max-width: 1072px) {

    .intro {
        text-align: center;
        max-width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .brandName {
        padding-top: 5em;
    }

    .secondList {
        padding-left: 0em;
        width: 100vw;
        align-items: center;
    }

    .intro h1 {
        font-size: 4rem;
    }

    .intro p {
        max-width: 50ch;
    }

    .navigationLinks {
        width: 15%;
    }

    .landingImage {
        background: none;
    }

    .description {
        display: flex;
        justify-content: center;
    }

    .linkContainer {
        justify-content: center;
        margin-top: 2em;
    }
}

@media screen and (max-width: 850px) {


    .intro h1 {
        font-size: 2.5rem;
        padding-right: 20%;
    }

    .intro h1,
    .intro p {
        padding: 1em;
        padding-top: 0em;
        padding-bottom: 0em;
        width: 100% !important;
        padding-left: 0;
    }

    .navigationLinks {
        width: 20%;
        padding-left: 1em;
    }

    .navigationLinks ul {
        padding-left: 1em;
        gap: 1em;
    }
}

@media screen and (max-width: 600px) {
    .navbar {
        padding-left: 3em !important;
    }

    .intro h1 {
        font-size: 2rem;
        text-align: left !important;
        padding-left: 1em !important;
    }

    .brandName {
        justify-content: center;
        padding: 0em !important;
        padding-top: 5em !important;
        align-items: center;
        margin-bottom: 3em;
    }

    .brandName .profilePic {
        display: none;
    }

    .brandName .img {
        height: 5em;
        width: 10em;
    }

    .intro p {
        text-align: left;
        padding-left: 1em !important;
        padding-right: 3em !important;
    }

    .linkContainer {
        padding-left: 0em;
    }

    .linkContainer button {
        width: 20em !important;
    }

    .navigationLinks {
        width: 100%;
        position: fixed;
        left: 0;
        top: 2em;
        min-height: 5%;
        clip-path: none;
        background: none;
    }

    .burger {
        border: none;
        background: none;
    }

    .intro p {
        width: 100%;
        padding: 0 5em 0 1em;
    }
}